<div class="show-mobile">
  <div>
    <button>
      <img
        src="https://static.platzi.com/media/tmp/class-files/github/angular-componentes/angular-componentes-8-step/src/assets/svg/icon_menu.svg"
        alt="menu"
      />
    </button>
    <a href="">
      <img
        src="https://static.platzi.com/media/tmp/class-files/github/angular-componentes/angular-componentes-8-step/src/assets/svg/logo_yard_sale.svg"
        alt="logo"
      />
    </a>
    <a href="">
      <img
        src="https://static.platzi.com/media/tmp/class-files/github/angular-componentes/angular-componentes-8-step/src/assets/svg/icon_shopping_cart.svg"
        alt="logo"
      />
    </a>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img
          src="https://static.platzi.com/media/tmp/class-files/github/angular-componentes/angular-componentes-8-step/src/assets/svg/logo_yard_sale.svg
          "
          alt="logo"
        />
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">wendy_342@hotmail.com</div>
      <div>
        <a href="">
          <img
            src="https://static.platzi.com/media/tmp/class-files/github/angular-componentes/angular-componentes-8-step/src/assets/svg/icon_shopping_cart.svg"
            alt="logo"
          />
        </a>
      </div>
    </div>
  </div>
</div>
