<!-- ** Como pasar información de manera dinamica -->
<p><input type="text" [(ngModel)]="imgParent" /></p>
<!-- ** y si queremos pasar la info dinamica a hijo tambien podemos usar el property binding -->
<app-image (loaded)="onLoaded($event)" [img]="imgParent"></app-image>
<hr />
<!-- ** Renderizado de Productos dinamicamente del padre al hijo -->
<app-product [myProduct]="product" *ngFor="let product of myProduct">
</app-product>

<!-- <app-image  img="nueva imagen desde el PADRE"></app-image> -->
