* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products--grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

.message--error {
  background: red;
  color: #ffff;
  opacity: 0;
  transition: allow linear 05s;
  &.invalid {
    opacity: 1;
  }
}

.line-error {
  height: 0;
  border-bottom: 1px solid;
  &.invalid {
    border-color: red;
  }
  &.valid {
    border-color: blue;
  }
}

.imgStyles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background: #8d00ff;
}

// ESTILOS PARA EL FORMULARIO
.form {
  padding: 16px 0;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 8px 4px;
  display: blocks;
  width: 100%;
}
.error-sms {
  color: red;
  padding: 5px;
  opacity: 0;
  .invalid {
    opacity: 1;
  }
}

.btnCenter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  .button {
    background: #8d00ff;
    border-radius: 3px;
    color: #fff;
    height: 32px;
    display: block;
    text-align: center;
  }
}
