<!-- ** Renderizado de Productos dinamicamente del padre al hijo -->
<!-- <p>la cantidad de productos {{ myShoppingCart.length }}</p>
<p>total: ${{ total }}</p>
<p>today: {{ today | date }}</p>
<p>today: {{ today | timeAgo }}</p>
<p>date: {{ date | date: "dd/MM/yyyy" }}</p>
<p>
  {{
    "este texto sera transformado todo en mayúscula gracias al pipes"
      | uppercase
  }}
</p> -->
<div class="productsList--grid">
  <app-product
    [myProduct]="product"
    *ngFor="let product of myProduct"
    (addMyProduct)="onAddToShoppingCart($event)"
  >
  </app-product>
</div>
