<button (click)="createNewProduct()">Create</button>
<div class="productsList--grid">
  <app-product
    [myProduct]="product"
    *ngFor="let product of myProduct"
    (addMyProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  >
  </app-product>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <!-- esta *ngIf es para que el detalle del producto se muestre solo si hay
  un producto seleccionado -->
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper
      [effect]="'flip'"
      [grabCursor]="true"
      [pagination]="true"
      [navigation]="true"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let img of productChosen.images"
        ><img [src]="img" alt=""
      /></ng-template>
    </swiper>
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>
